.five-weather {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    background-color: rgb(45, 0, 128, 0.5);
    font-size: 0.8rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 0.5px solid white;
    border-bottom: 0;
    gap: 0.5rem;
    padding: 1rem;
    width: 100vw;
}

.each-day-weather {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(45, 0, 128, 0.5);
    border-radius: 25px;
    border: 0.5px solid white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/* .temp-cont {
    display: flex;
} */

.each-day-weather:hover {
    background-color: rgb(40, 39, 121);
    transform: scale(1.1);
}