article {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-weather, .main-conditions {
  width: 90vw;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
  margin-top: 2rem;
  color: var(--color);
  background-color: var(--background-color-day);
  border-radius: 25px;
}

.main-conditions {
  justify-content: space-evenly;
}

.main-conditions > img {
  height: 2rem;
  width: fit-content;
}

.temp-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.temp {
  display: flex;
  font-size: 0.7rem;
  align-items: center;
}

p {
  display: flex;
  align-items: center;
  gap: 10px;
}

span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.main-weather > img {
  width: max-content;
  height: 5rem;
}

@media screen and (min-width: 700px) {
  .main-weather, .main-conditions {
    width: 30%;
  }
}
