main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  min-height: fit-content;
}

body {
 height: 100vh;
}