#root {
  height: 100svh;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}