.five-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: var(--five-background);
    font-size: 0.8rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 0.5px solid var(--five-border);
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-size: 0.7rem;
    width: 100%;
}

.each-day-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0.2rem 1rem 0.2rem;
    background-color: var(--five-background);
    border-radius: 25px;
    border: 0.5px solid var(--five-border);
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: var(--five-border);
}

.each-day-weather:hover {
    background-color: var(--five-hover-background);
    transform: scale(1.1);
}

@media screen and (min-width: 700px) {
    .five-weather {
        justify-content: space-around;
        border: 1px solid var(--five-border);
        border-radius: 25px;
    }

    .each-day-weather {
        width: 10%;
    }

    .temp-cont {
        display: flex;
    }
}