.burger-menu {
    cursor: pointer;
}

#burger-menu {
    width: 0px;
    overflow: hidden;
    transition: all, 1s;
    background-color: purple;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#burger-menu li {
    color: whitesmoke;
    font-size: 0.5em;
}

.isOpen {
    width: 100% !important;
}

/* @media screen and (min-width: 465px) {
    .isOpen {
        width: 10% !important;
    }
} */